@page
@model Cretu_Alexandru_Project.Pages.Rezervari.CreateModel
@using Newtonsoft.Json;
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Adauga");
}
<head>
<script src="~/lib/jquery/dist/jquery.js"></script>
</head>


<h1 id="Rezervare.Create.Page">@language.Getkey("AddRezervare")</h1>
<h4>@language.Getkey("Rezervare")</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rezervare.SalaID" class="control-label">@language.Getkey("Nume Sala")</label>
                <select asp-for="Rezervare.SalaID" class="form-control" asp-items="ViewBag.SalaID" onchange="updatePrice()" id="SalaID"></select>
                 <span id="SalaPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataInceput" class="control-label">@language.Getkey("Data Inceput")</label>
                <input asp-for="Rezervare.DataInceput" class="form-control" required id="DataInceput" name="Rezervare.DataInceput" 
                min="@DateTime.Now.ToString("yyyy-MM-dd")" 
                max="@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.OraInceput" class="control-label">@language.Getkey("Ora Inceput")</label>
                <input id="Rezervare.Ora.Inceput" asp-for="Rezervare.OraInceput" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.TrupaID" class="control-label">@language.Getkey("Nume Trupa")</label>
                <select asp-for="Rezervare.TrupaID" class="form-control" asp-items="ViewBag.TrupaID" id="TrupaID"></select>
            </div>
           <div class="form-group">
                <label asp-for="Rezervare.EchipamentId" class="control-label">@language.Getkey("Tip Echipament")</label>
                <select asp-for="Rezervare.EchipamentId" class="form-control" asp-items="ViewBag.EchipamentId" onchange="updatePrice()" id="EchipamentId"></select>
                <span id="EchipamentPrice"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Rezervare.Timp" class="control-label">@language.Getkey("Ore Dorite")</label>
                <input asp-for="Rezervare.Timp" class="form-control" onchange="updatePrice()" id="Timp"/>
            </div>
            <div class="form-group">
                    <label asp-for="Rezervare.Pret" class="control-label">@language.Getkey("Pret")</label>
                <input asp-for="Rezervare.Pret" class="form-control" id="Pret" readonly />
            </div>
            <div class="form-group">
                    <input type="submit" value="@language.Getkey("Adauga")" class="btn btn-primary" id="Rezervare.Create.Btn" />
           </div>
        </form>
    </div>
</div>

<div>
    <a id="Rezervare.Create.Inapoi.Lnk" asp-page="Index">@language.Getkey("Inapoi")</a>
</div>
@section Scripts {
            <script>
            function convertToUTC(input) {
                var date = new Date(input.value);
                date.setUTCHours(date.getUTCHours() + 2);
                input.value = date.toISOString().slice(0, -1);
            }
            </script>

            <script>
               function updatePrice() {
                    var url = '/API/GetPrice';
                    var salaId = $("#SalaID").val();
                    var echipamentId = $("#EchipamentId").val();
                    var timp = $("#Timp").val();
                    $.getJSON(url, { salaId: salaId, echipamentId: echipamentId }, function (data) {
                        var salaPrice = data.SalaPret;
                        var echipamentPrice = data.EchipamentPret;
                        var price = (salaPrice + echipamentPrice) * timp;
                        $("#Pret").val(price);
                        $("#SalaPrice").text("Pret sala (RON): " + salaPrice);
                        $("#EchipamentPrice").text("Pret echipament (RON): " + echipamentPrice);
                    });
               }

            $(document).ready(function () {

                updatePrice();

                $("#SalaID").change(function () {
                salaId = $("#SalaID").val();
                updatePrice();
                });

                $("#EchipamentId").change(function () {
                echipamentId = $("#EchipamentId").val();
                updatePrice();
                });

                $("#SalaID").change(function () {
                    updatePrice();
                });

                $("#EchipamentId").change(function () {
                    updatePrice();
                });

                $("#Timp").change(function () {
                    updatePrice();
                });

            });
            </script>
}



