@page
@model Cretu_Alexandru_Project.Pages.Reprezentanti.DeleteModel
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Sterge");
}



<h1 id="Sterge.Reprezentant.Page">@language.Getkey("Sterge")</h1>

<h3>@language.Getkey("MesajSterge")</h3>
<div>
    <h4>Reprezentant</h4>
    <hr />
    <dl class="row">
        <dt id="Prenume.Reprezentant" class="col-sm-2">
            @language.Getkey("Prenume")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Prenume)
        </dd>
        <dt id="Nume.Reprezentant" class="col-sm-2">
            @language.Getkey("Nume")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Nume)
        </dd>
        <dt id="Adresa.Reprezentant" class="col-sm-2">
            @language.Getkey("Adresa")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Adresa)
        </dd>
        <dt id="Email.Reprezentant" class="col-sm-2">
            @language.Getkey("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Email)
        </dd>
        <dt id="Telefon.Reprezentant" class="col-sm-2">
            @language.Getkey("Telefon")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Telefon)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reprezentant.ID" />
        <input id="Sterge.Reprezentant.Btn" type="submit" value="@language.Getkey("Sterge")" class="btn btn-danger" /> |
        <a id="Inapoi.Btn" asp-page="./Index">@language.Getkey("Inapoi")</a>
    </form>
</div>
