@page
@model Cretu_Alexandru_Project.Pages.Reprezentanti.DetailsModel
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Detalii");
}


<h1 id="Detalii.Reprezentant.Page">@language.Getkey("Detalii")</h1>

<div>
    <h4>@language.Getkey("Reprezentant")</h4>
    <hr />
    <dl class="row">
        <dt id="Prenume.Reprezentant" class="col-sm-2">
            @language.Getkey("Prenume")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Prenume)
        </dd>
        <dt id="Nume.Reprezentant" class="col-sm-2">
            @language.Getkey("Nume")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Nume)
        </dd>
        <dt id="Adresa.Reprezentant" class="col-sm-2">
            @language.Getkey("Adresa")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Adresa)
        </dd>
        <dt id="Email.Reprezentant" class="col-sm-2">
            @language.Getkey("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Email)
        </dd>
        <dt id="Telefon.Reprezentant" class="col-sm-2">
            @language.Getkey("Telefon")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reprezentant.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a id="Edit.Btn" asp-page="./Edit" asp-route-id="@Model.Reprezentant?.ID">@language.Getkey("Modifica")</a> |
    <a id="Inapoi.Btn" asp-page="./Index">@language.Getkey("Inapoi")</a>
</div>
