@page
@model Cretu_Alexandru_Project.Pages.Trupe.DeleteModel
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Sterge");
}

<h1 id="Sterge.Trupa.Page">@language.Getkey("Sterge")</h1>

<h3>@language.Getkey("MesajSterge")</h3>
<div>
    <h4>Trupa</h4>
    <hr />
    <dl class="row">
        <dt id="Nume.Trupa" class="col-sm-2">
            @language.Getkey("NumeTrupa")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trupa.NumeTrupa)
        </dd>
        <dt id="Numar.Trupa" class="col-sm-2">
            @language.Getkey("NumarPersoane")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trupa.numarPersoane)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Trupa.ID" />
        <input id="Sterge.Trupa.Btn" type="submit" value="@language.Getkey("Sterge")" class="btn btn-danger" /> |
        <a id="Inapoi.Btn" asp-page="./Index">@language.Getkey("Inapoi")</a>
    </form>
</div>
