@page
@model Cretu_Alexandru_Project.Pages.Trupe.EditModel
@inject LanguageService language
@{
    ViewData["Title"] = @language.Getkey("Edit");
}

<h1 id ="Edit.Trupa.Page">@language.Getkey("Modifica")</h1>

<h4>@language.Getkey("Trupa")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trupa.ID" />
            <div class="form-group">
                <label asp-for="Trupa.NumeTrupa" class="control-label">@language.Getkey("NumeTrupa")</label>
                <input id="Nume.Trupa" asp-for="Trupa.NumeTrupa" class="form-control" />
                <span asp-validation-for="Trupa.NumeTrupa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trupa.numarPersoane" class="control-label">@language.Getkey("NumarPersoane")</label>
                <input id="Numar.Trupa" asp-for="Trupa.numarPersoane" class="form-control" />
                <span asp-validation-for="Trupa.numarPersoane" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Trupa.ReprezentantID" class="control-label">@language.Getkey("Reprezentant")</label>
                <select id="Reprezentant.Trupa" asp-for="Trupa.ReprezentantID" class="form-control" asp-items="ViewBag.ReprezentantID"></select>
                <span asp-validation-for="Trupa.ReprezentantID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="Edit.Trupa.Btn" type="submit" value="@language.Getkey("Salveaza")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a id="Inapoi.Btn" asp-page="./Index">@language.Getkey("Inapoi")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
